[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
ipython = "*"
black = "*"
tqdm = "*"

[packages]
numpy = "*"
scipy = "*"
pandas = "*"
scikit-image = "*"
tensorflow = "*"
jupyter = "*"
jupyter-contrib-nbextensions = "*"
matplotlib = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
