[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
ipython = "*"
black = "*"
tqdm = "*"
memory-profiler = "*"
pydot = "*"

[packages]
numpy = "*"
scipy = "*"
pandas = "*"
scikit-image = "*"
tensorflow = "*"
jupyter = "*"
jupyter-contrib-nbextensions = "*"
matplotlib = "*"
click = "*"
seaborn = "*"
pillow = "*"
loguru = "*"
dacite = "*"
tensorflow-addons = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
