absl-py==1.2.0; python_version >= "3.7" and python_version < "4"
appnope==0.1.3; sys_platform == "darwin" and python_version >= "3.8" and platform_system == "Darwin"
argon2-cffi-bindings==21.2.0; python_version >= "3.7"
argon2-cffi==21.3.0; python_version >= "3.7"
asttokens==2.0.8; python_version >= "3.8"
astunparse==1.6.3; python_version >= "3.7"
atomicwrites==1.4.1; python_version >= "3.7" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.7" and python_full_version >= "3.4.0"
attrs==22.1.0; python_full_version >= "3.7.0" and python_version >= "3.7"
backcall==0.2.0; python_version >= "3.8"
beautifulsoup4==4.11.1; python_full_version >= "3.6.0" and python_version >= "3.7"
black==22.6.0; python_full_version >= "3.6.2"
bleach==5.0.1; python_version >= "3.7"
cachetools==5.2.0; python_version >= "3.7" and python_version < "4.0" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7")
certifi==2022.6.15; python_version >= "3.7" and python_version < "4" and python_full_version >= "3.7.0"
cffi==1.15.1; implementation_name == "pypy" and python_version >= "3.7" and sys_platform == "linux"
cfgv==3.3.1; python_full_version >= "3.6.1" and python_version >= "3.7"
charset-normalizer==2.1.0; python_version >= "3.7" and python_version < "4" and python_full_version >= "3.7.0"
click-log==0.4.0
click==8.1.3; python_version >= "3.7"
colorama==0.4.5; sys_platform == "win32" and python_version >= "3.7" and python_full_version >= "3.6.2" and platform_system == "Windows" and (python_version >= "3.8" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.8" and python_full_version >= "3.5.0") and (python_version >= "3.5" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.5" and python_full_version >= "3.5.0") and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6") and (python_version >= "3.7" and python_full_version < "3.0.0" and platform_system == "Windows" or python_full_version >= "3.5.0" and python_version >= "3.7" and platform_system == "Windows") and (python_version >= "3.7" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.7" and python_full_version >= "3.5.0")
coverage==6.4.4; python_version >= "3.7"
cryptography==37.0.4; sys_platform == "linux" and python_version >= "3.7"
cycler==0.11.0; python_version >= "3.7"
debugpy==1.6.3; python_version >= "3.7"
decorator==5.1.1; python_version >= "3.8"
defusedxml==0.7.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
dill==0.3.5.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.7.0" and python_version >= "3.7"
distlib==0.3.5; python_version >= "3.7"
docutils==0.19; python_version >= "3.7"
dotty-dict==1.3.1; python_version >= "3.5" and python_version < "4.0"
entrypoints==0.4; python_version >= "3.7"
etils==0.7.1; python_version >= "3.7"
executing==0.10.0; python_version >= "3.8"
fastjsonschema==2.16.1; python_full_version >= "3.7.0" and python_version >= "3.7"
filelock==3.8.0; python_version >= "3.7"
flake8-html==0.4.2
flake8==5.0.4; python_full_version >= "3.6.1"
flatbuffers==1.12; python_version >= "3.7"
fonttools==4.35.0; python_version >= "3.7"
gast==0.4.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
genbadge==1.1.0
gitdb==4.0.9; python_version >= "3.7"
gitpython==3.1.27; python_version >= "3.7"
google-auth-oauthlib==0.4.6; python_version >= "3.7"
google-auth==2.10.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7"
google-pasta==0.2.0; python_version >= "3.7"
googleapis-common-protos==1.56.4; python_version >= "3.7" and python_version < "4"
grpcio==1.48.0; python_version >= "3.7"
h5py==3.7.0; python_version >= "3.7"
identify==2.5.3; python_version >= "3.7"
idna==3.3; python_version >= "3.7" and python_version < "4" and python_full_version >= "3.7.0"
importlib-metadata==4.12.0; python_version < "3.10" and python_version >= "3.7"
importlib-resources==5.9.0; python_version >= "3.7"
iniconfig==1.1.1; python_version >= "3.7"
invoke==1.7.1
ipykernel==6.15.1; python_version >= "3.7"
ipython-genutils==0.2.0; python_version >= "3.7"
ipython==8.4.0; python_version >= "3.8"
ipywidgets==7.7.1
jedi==0.18.1; python_version >= "3.8"
jeepney==0.8.0; sys_platform == "linux" and python_version >= "3.7"
jinja2==3.1.2; python_version >= "3.7"
jsonschema==4.10.0; python_full_version >= "3.7.0" and python_version >= "3.7"
jupyter-client==7.3.4; python_full_version >= "3.7.0" and python_version >= "3.7"
jupyter-console==6.4.4; python_version >= "3.7"
jupyter-core==4.11.1; python_full_version >= "3.7.0" and python_version >= "3.7"
jupyter==1.0.0
jupyterlab-pygments==0.2.2; python_version >= "3.7"
jupyterlab-widgets==1.1.1; python_version >= "3.6"
keras-preprocessing==1.1.2; python_version >= "3.7"
keras==2.9.0; python_version >= "3.7"
keyring==23.8.2; python_version >= "3.7"
kiwisolver==1.4.4; python_version >= "3.7"
libclang==14.0.6; python_version >= "3.7"
loguru==0.6.0; python_version >= "3.5"
lxml==4.9.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
markdown==3.4.1; python_version >= "3.7"
markupsafe==2.1.1; python_version >= "3.7"
matplotlib-inline==0.1.3; python_version >= "3.8"
matplotlib==3.5.3; python_version >= "3.7"
mccabe==0.7.0; python_version >= "3.6" and python_full_version >= "3.6.1"
mistune==0.8.4; python_version >= "3.7"
mypy-extensions==0.4.3; python_full_version >= "3.6.2"
nbclient==0.6.6; python_full_version >= "3.7.0" and python_version >= "3.7"
nbconvert==6.5.3; python_version >= "3.7"
nbformat==5.4.0; python_full_version >= "3.7.0" and python_version >= "3.7"
nest-asyncio==1.5.5; python_full_version >= "3.7.0" and python_version >= "3.7"
nodeenv==1.7.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.7.0" and python_version >= "3.7"
notebook==6.4.12; python_version >= "3.7"
numpy==1.23.2; python_version >= "3.8"
oauthlib==3.2.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
opt-einsum==3.3.0; python_version >= "3.7"
packaging==21.3; python_version >= "3.7"
pandas==1.4.3; python_version >= "3.8"
pandocfilters==1.5.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
parso==0.8.3; python_version >= "3.8"
pathspec==0.9.0; python_full_version >= "3.6.2"
pexpect==4.8.0; sys_platform != "win32" and python_version >= "3.8"
pickleshare==0.7.5; python_version >= "3.8"
pillow==9.2.0; python_version >= "3.7"
pkginfo==1.8.3; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
platformdirs==2.5.2; python_version >= "3.7" and python_full_version >= "3.6.2"
pluggy==1.0.0; python_version >= "3.7"
pre-commit==2.20.0; python_version >= "3.7"
prometheus-client==0.14.1; python_version >= "3.7"
promise==2.3; python_version >= "3.7"
prompt-toolkit==3.0.30; python_full_version >= "3.6.2" and python_version >= "3.8"
protobuf==3.19.4; python_version >= "3.7" and python_version < "4"
psutil==5.9.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
ptyprocess==0.7.0; sys_platform != "win32" and python_version >= "3.8" and os_name != "nt"
pure-eval==0.2.2; python_version >= "3.8"
py==1.11.0; python_version >= "3.7" and python_full_version < "3.0.0" and implementation_name == "pypy" or python_full_version >= "3.5.0" and python_version >= "3.7" and implementation_name == "pypy"
pyasn1-modules==0.2.8; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7"
pyasn1==0.4.8; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7") or python_full_version >= "3.6.0" and python_version >= "3.7" and python_version < "4" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7")
pycodestyle==2.9.1; python_version >= "3.6" and python_full_version >= "3.6.1"
pycparser==2.21; python_version >= "3.6" and python_full_version < "3.0.0" and implementation_name == "pypy" or implementation_name == "pypy" and python_version >= "3.6" and python_full_version >= "3.4.0"
pydantic==1.9.2; python_full_version >= "3.6.1"
pydot==1.4.2; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
pyflakes==2.5.0; python_version >= "3.6" and python_full_version >= "3.6.1"
pygments==2.13.0; python_version >= "3.8"
pyparsing==3.0.9; python_full_version >= "3.6.8" and python_version >= "3.7"
pyrsistent==0.18.1; python_full_version >= "3.7.0" and python_version >= "3.7"
pytest-cov==3.0.0; python_version >= "3.6"
pytest==7.1.2; python_version >= "3.7"
python-dateutil==2.8.2; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.8"
python-gitlab==3.8.1; python_full_version >= "3.7.0"
python-semantic-release==7.31.2
pytz==2022.2.1; python_version >= "3.8"
pywin32-ctypes==0.2.0; sys_platform == "win32" and python_version >= "3.7"
pywin32==304; sys_platform == "win32" and platform_python_implementation != "PyPy" and python_version >= "3.7"
pywinpty==2.0.7; os_name == "nt" and python_version >= "3.7"
pyyaml==6.0; python_version >= "3.7"
pyzmq==23.2.0; python_version >= "3.6"
qtconsole==5.3.1; python_version >= "3.7"
qtpy==2.2.0; python_version >= "3.7"
readme-renderer==36.0; python_version >= "3.7"
requests-oauthlib==1.3.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
requests-toolbelt==0.9.1; python_full_version >= "3.7.0" and python_version >= "3.6"
requests==2.28.1; python_version >= "3.7" and python_version < "4" and python_full_version >= "3.7.0" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7")
rfc3986==2.0.0; python_version >= "3.7"
rsa==4.9; python_version >= "3.6" and python_version < "4" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7")
scipy==1.9.0; python_version >= "3.8" and python_version < "3.12"
secretstorage==3.3.3; sys_platform == "linux" and python_version >= "3.7"
semver==2.13.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
send2trash==1.8.0; python_version >= "3.7"
setuptools-scm==6.4.2; python_version >= "3.7"
six==1.15.0; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.8"
smmap==5.0.0; python_version >= "3.7"
soupsieve==2.3.2.post1; python_full_version >= "3.6.0" and python_version >= "3.7"
stack-data==0.4.0; python_version >= "3.8"
tensorboard-data-server==0.6.1; python_version >= "3.7"
tensorboard-plugin-wit==1.8.1; python_version >= "3.7"
tensorboard==2.9.1; python_version >= "3.7"
tensorflow-datasets==4.6.0; python_version >= "3.7"
tensorflow-estimator==2.9.0; python_version >= "3.7"
tensorflow==2.9.1; python_version >= "3.7"
tensorflow-metadata==1.9.0; python_version >= "3.7" and python_version < "4"
tensorflow-metal==0.5.0
termcolor==1.1.0; python_version >= "3.7"
terminado==0.15.0; python_version >= "3.7"
tinycss2==1.1.1; python_version >= "3.7"
toml==0.10.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
tomli==2.0.1; python_full_version <= "3.11.0a6" and python_full_version >= "3.6.2" and python_version >= "3.7"
tomlkit==0.10.2; python_version >= "3.6" and python_version < "4.0"
tornado==6.2; python_version >= "3.7"
tqdm==4.64.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
traitlets==5.3.0; python_full_version >= "3.7.0" and python_version >= "3.8"
twine==3.8.0; python_version >= "3.6"
typing-extensions==4.3.0; python_version >= "3.7" and python_full_version >= "3.6.2" and python_version < "3.10"
urllib3==1.26.11; python_full_version >= "3.7.0" and python_version < "4" and python_version >= "3.7" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.6")
virtualenv==20.16.3; python_version >= "3.7"
wcwidth==0.2.5; python_full_version >= "3.6.2" and python_version >= "3.8"
webencodings==0.5.1; python_version >= "3.7"
werkzeug==2.2.2; python_version >= "3.7"
widgetsnbextension==3.6.1
win32-setctime==1.1.0; sys_platform == "win32" and python_version >= "3.5"
wrapt==1.14.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
zipp==3.8.1; python_version >= "3.7" and python_version < "3.10"
